{% extends 'base.html' %}
{% block navbar %}
<form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="Search">
    </div>
  </form>
  <ul class="nav navbar-nav navbar-right">
    <li><button type="button" class="btn btn-primary navbar-btn" data-toggle="modal" href="#id-preparePost"><span class="glyphicon glyphicon-send"></span></button></li>
    <li><span></span></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span> {{ user.username }} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="{% url 'user-profile' %}">Account Settings</a></li>
        <li><a href="{% url 'logout-user' %}">Logout</a></li>
      </ul>
    </li>
  </ul>
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    {% for post in posts %}
    {% include '_includes/post.html' %}
    {% empty %}
      <p>No posts for you yet.</p>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block footer %}
{% include '_includes/bootstrap-modal.html' %}
<script type="text/javascript" src="{{ STATIC_URL }}js/site.js"></script>
{% endblock %}
